header {
    h1 {
      font-size: 3rem;
      text-align: center;
      &::selection {
          background: $color1;
          color: $colortext;
        }
      @media screen and (max-width: 700px) {
          font-size: 1rem;
      }
      &::after {
        content: "*";
        position: absolute;
        transform: translateY(-6px);
        transition: 0.2s; 
      }
      &:hover::after {
        transform: scale(2);
      }
    }
  }