$colorbg:rgb(248, 175, 246);
$color1: rgb(255, 229, 255);
$colortext: rgb(71, 0, 69); 

// mixins
@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background: $colorbg;
  p::selection {
    background: $color1;
    color: $colortext;
  }
}

nav {
  background: $color1;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      list-style: none;
      &::selection {
        background: $colortext;
        color: $color1;
      }
    }
  }
}

header {
  h1 {
    font-size: 3rem;
    text-align: center;
    &::selection {
        background: $color1;
        color: $colortext;
      }
    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
    &::after {
      content: "*";
      position: absolute;
      transform: translateY(-6px);
      transition: 0.2s; 
    }
    &:hover::after {
      transform: scale(2);
    }
  }
}

section {
    height: 400px;
    border: 1px solid $colortext;
    border-radius: 20px;
    padding: 10px;
   @include centerChild;
    p {
        width: 50%;
        text-align: center;
    }
}